.circle {
    display: flex;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    margin: 1em;
    color: white;
  }

.text {
    margin: auto;
  }
button {
  border: none;
  background-color: rgb(255, 211, 51);
  cursor: pointer;
}